<div class="row">
    <div class="col text-bold" *ngFor="let h of header | keyvalue; let last = last">
        {{h.value}}
        <a *ngIf="last" href="/product" class="btn btn-success" style="float: right;width:70px">
             <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<div class="row mt-2" *ngFor="let item of data">
    <div class="col" *ngFor="let i of item | keyvalue; let last = last">
       
        <span *ngIf="i.key != 'price'">{{i.value}}</span>
        <span *ngIf="i.key == 'price'">R${{i.value}}</span>

        <a *ngIf="last" href="{{prefixUrl+'/'+item.id}}" class="btn btn-primary btn-edit">
            <i class="fas fa-edit"></i>
        </a>
    </div>
</div>